.result {
    margin : 40px 0px;
}

.result__Title {
    text-decoration: none;
    font-size: x-large;
}

.result__Title:hover {
    text-decoration: underline;
}

.result__Title>h2 {
    font-weight: 900;
}

.result__Snippet {
    margin-top: 10px;
}